@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --primary-color: rgb(255, 72, 0);
    --grey: rgb(99, 99, 99);
    --secondary-color: #be1931;
    --tertiary-color: #dd2e44;
}

body {
    background: #F2F2F2;
    margin: 0;
    padding: 0;
    font-family: 'Rubik' ;
}

.navbar {
    background: white;
    padding: 0.5em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.5em;
        font-family: 'Staatliches' ;
        span {
            color: var(--primary-color);
        }
        transition: all 1s;
        &:hover {
          font-size: 1.8em;  
        }
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }
    
    .mobile-menu {
        cursor: pointer;
    }
}

nav.menu-btn {
    display:block;
}
nav{
    position: fixed;
    z-index: 999;
    width: auto;
    right: 0;
    top: 0;
    background: linear-gradient(var(--secondary-color), var(--primary-color));
    height: 100vh;
    padding: 1em;
    font-size: 1em;

    ul.navPrimary {
        margin-top: 5em;
        align-items: center;
    }

    li {

        a{ 
            color: white;
            text-decoration: none;
            display: block;
            padding: 0.5em;
            font-size: 1.5em;
            text-align: right;
            transition: all 0.15s;
            &:hover {
                font-weight:bold;
                text-decoration: underline;
                text-shadow: 0.1em 0.1em black;  
              }
        }
    }
}

.mobile-menu-exit {
    margin: 0.5em;
    cursor:pointer;
    &:hover {
        width: 2em;
        height: 2em;
      }
}

.title {
    .subhead {
        text-transform: lowercase;
        font-weight: bold;
        color: var(--grey);
        letter-spacing: 1em;
        line-height: .9em;
        margin: 0;
        padding: 0;
        transition: all 1s;
        &:hover {
        letter-spacing: 1.1em;            
        }
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

h1{
    font-size: 3.5em;
    line-height: 1.1em;
    margin: 0.2em 0em 0.5em;
    padding: 0;
}

section {
    padding: 2em 3em 2em 3em;   
}

.hero {
    text-align: center;
    .gallery{
        margin-top: 6em;
        
        .fries-img {
            display: inline-block;
            max-height: 200px;
            max-width: 95%;
            min-width: 125px;
            padding: 0;
            margin: 0;
            width: auto;
            border-radius: 1em;
        }
    }
}

iframe{
    width: 100%;
    height: 300px;
}

@media only screen and (min-width :768px) {
    .mobile-menu, .mobile-menu-exit {display: none;}
    .navbar .container {display: grid; grid-template-columns: 180px auto;}
    .navbar nav {
        display: flex; 
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {display: flex;}
        a {
            color: black;
            font-size: 1em;
            padding: 0.1em 1em;
            &:hover {
                font-weight:bold;
                color:rgb(44, 44, 44);
                text-decoration: underline;
                text-shadow: 0.1em 0.1em var(--tertiary-color);  
              }
        }

        ul.navPrimary {margin: 0;}
        li.current a {font-weight: bold;}

        li.invite a {
            color: var(--primary-color);
            border: 5px solid var(--primary-color);
            font-weight: bold;
            border-radius: 3em;
            &:hover {
                font-weight:bolder;
                text-decoration: underline; 
                background: rgba(255, 114, 59, 0.342);
                text-shadow: 0em 0em;
              }
        }
    }
    .hero .gallery{
        margin-top: 6em;
        .fries-img {
            max-height: 200px;
            max-width: 35%;
            margin: 1em 1em 1em 1em;
        }
    }
    .story {font-size: 2em;}
}

@media only screen and (min-width :1300px) {
    section {padding: 2em 4em;}
    .container {
        width: 1300px;
        margin: 0 auto;
    }
    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;
        .gallery{
            width: 60%;
            margin-left: 37%;
            text-align: center;
            float: left;
        }

        .fries-img {
            display: inline-flex;
            max-height: 300px;
            height: auto;
            width: 100%;
        }

        .title {
            margin: 15% 3em 0em 5em;
            position: fixed;
            h1 {
                font-size: 4em;
                width: 90%;
            }
        }
    }

}