img{
    max-width: 5em;
    height: auto;
    padding-bottom: 1em;
}

#main-text-col{
    position: fixed;
    width: 50vw;
    transform: translate(-5.5em, 13em);
}

#imgs-hero{
    margin-left: 50vw;
}

@media only screen and (max-width:767px){ /* MD Bootstrap Breakpoint */
    #main-text-col{
        position: inherit;
        width: 100%;
        transform: translate(0, 0);
    }
    #imgs-hero{
        margin-left: 0;
    }
}