*{outline: 3px solid #00ff2a52}

/* Media Queries
=====================================================
*/

@media only screen and (max-width:780px){ /* Smaller than MD Bootstrap Breakpoint */
    #main-hero{
        padding: 0 10% 30%;
    }
    #expand-subtitle{
        padding-top: 0;
    }

    #features{
        grid-template-columns: 1fr;
    }
}
