/* Features
=====================================================
*/

#features{
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: brown;
    padding: 1em 0;
}

#features p{
    margin: 0.2em auto;
    padding: 0.5em;
    max-width: 15em;
    background-color: red;
}

/* Media Queries

*/

@media only screen and (max-width:767px){ /* MD Bootstrap Breakpoint */
    #main-hero{
        padding: 0 10% 30%;
    }
    #expand-subtitle{
        padding-top: 0;
    }
}
