*{outline: 3px solid #00ff2a52}

/* Fries Hero
=====================================================
*/

#main-hero button{
    background-color: var(--lighter-red);
    color: #ffffff;
    border: none;
    border-radius: 10em;
    padding: 0.2em 1em;
    transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#main-hero button:hover{
    background-color: var(--primary-red);
}

#main-hero a{
    color: var(--grey);
    text-decoration: none;
}

/* Red Container Zone
=====================================================
*/


#red-container{
    background-color: var(--primary-red);
    padding: 5em;
}

#features{
    width: 100%;
    text-align: center;
    margin: auto;
}

#features p{
    margin: 0.2em auto;
    padding: 0.5em;
    max-width: 15em;
    background-color: var(--lighter-red);
}

#features .row{
    margin-bottom: 2em;
}

#reviews .col{
    text-align: center;
    padding: 0;
}

#reviews img{
    aspect-ratio: 1 / 1;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
    border: 0.5em solid var(--lighter-red);
    background-color: var(--lighter-red);
    transform: translateY(50%);
}

#reviews .col div{
    background-color: var(--lighter-red);
    width: 50%;
    min-width: 140px;
    margin: auto;
    padding-top: 4.5em;
    min-height: 5em;
    border-radius: 1em;
}

#reviews blockquote{
    min-height: 4em;
}

/* Media Queries
=====================================================
*/

@media only screen and (max-width:767px){ /* Smaller than MD Bootstrap Breakpoint */
    #main-hero{
        padding: 0 10% 30%;
    }
    #expand-subtitle{
        padding-top: 0;
    }
}
