@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --primary-orange: rgb(255, 72, 0);
  --primary-red: #be1931;
  --lighter-red: 221, 46, 68;
  --grey: rgb(99, 99, 99);
  --background-color: #F2F2F2;
}

body {
  background: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
}

/* Navbar
=====================================================
*/

header {
  background: #fff;
  z-index: 100;
  position: fixed;
  height: 48px;
  padding: 0 10rem;
  width: calc(100vw - 20rem);
  text-align: left;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  line-height: 48px;
  vertical-align: middle;
  font-size: 1.5rem;
  font-family: 'Staatliches';
  transition: font-size 0.3s;
}

.logo span {
  color: var(--primary-orange);
}

.logo:hover {
  font-size: 1.6rem;
  cursor: pointer;
}

#nav-link-holder{
  list-style-type: none;
  background-color: #ffffff00;
  display: flex;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  float: right;
  border-bottom: none;
  width: fit-content;
  margin: 0 1em 0 0;
}

#nav-link-holder li{
  padding: 0;
}

.nav-link{
  font-size: 1.1rem;
  cursor: pointer;
  color: black;
  text-decoration: none;
  list-style-type: none;
  padding: 0 0.5em;
  line-height: 48px;
}

@media only screen and (max-width: 780px) {
  header{
    width: 100vw;
    padding: 0;
    text-align: center;
  }

  #nav-link-holder{
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: rgba(var(--lighter-red), 0.5);
    border-bottom: 2px rgb(var(--lighter-red)) solid;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    overflow: hidden;
    height: 0;
  }
  
  #nav-link-holder li{
    padding: 0.5em 0;
  }

  .nav-link{
    padding: 0;
    line-height: 2.5rem;
    color: white;
    font-weight: 700;
  }
}

/* Main
=====================================================
*/


#main-hero{
  padding: 0 10% 0;
  justify-content: center;
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  height: calc(100vh);
  margin: auto;
}

h1{
  font-size: 3.5rem;
  margin: 0;
}

#expand-subtitle{
  letter-spacing: 0.5rem;
  color: var(--grey);
  width: auto;
  display: inline;
  transition: letter-spacing cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

#expand-subtitle:hover{
  letter-spacing: 0.8rem;
}

#main-hero button{
  background-color: rgb(var(--lighter-red));
  color: #ffffff;
  border: none;
  border-radius: 10em;
  padding: 0.5em 1em;
  font-size: 1.25rem;
  font-weight: 700;
  transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#main-hero button:hover{
  background-color: var(--primary-red);
}

#main-hero a{
  color: var(--grey);
  text-decoration: none;
  transform: translateY(-3px);
}

#main-hero a img{
  transform: translateY(3px);
  height: 19px;
}

#main-text-col{
  display: grid;
  text-align: left;
  justify-content: right;
  align-items: center;
  z-index: 10;
}

#fries-page{
  display: grid;
  align-items: center;
}

@media only screen and (max-width:780px){
  main{
    padding-top: 60px;
  }

  #main-hero{
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }

  #main-text-col{
    text-align: center;
    justify-content: center;
  }

  #features{
    grid-template-columns: 1fr;
  }
} 

/* Images
=====================================================
*/

#images-page{
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 80vh;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  -webkit-mask-image: -webkit-linear-gradient(#ffffff00, #000000ff 10% 90%, #ffffff00);
  mask-image: linear-gradient(#ffffff00, #000000ff 10% 90%, #ffffff00);
  mask-repeat: no-repeat;
}

#images-page .container{
  width: 30%;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  display: grid;
  position: absolute;
  right: 10%;
}

#images-page::-webkit-scrollbar {
  display: none;
}

#images-page .col{
  width: 100%;
  padding: 5em 0;
  display: grid;
  gap: 1em;
}

#images-page img{
  width: 100%;
}

/* Red Container Zone
=====================================================
*/


#red-container{
  background-color: var(--primary-red);
  padding: 5em;
}

#features{
  width: 100%;
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#features p{
  margin: 0.2em auto;
  padding: 1em;
  border-radius: 1rem;
  width: 10em;
  background-color: rgb(var(--lighter-red));
}

#reviews{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

#reviews .card{
  text-align: center;
  padding: 0;
}

#reviews img{
  aspect-ratio: 1 / 1;
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
  border: 0.5em solid rgb(var(--lighter-red));
  background-color: rgb(156, 30, 47);
  transform: translateY(50%);
}

#reviews .card div{
  background-color: rgb(var(--lighter-red));
  width: 50%;
  min-width: 140px;
  margin: auto;
  padding-top: 4.5em;
  min-height: 5em;
  border-radius: 1em;
}

#reviews blockquote{min-height: 6rem;}
#reviews blockquote::before{content: open-quote;}
#reviews blockquote::after{content: close-quote;}

@media only screen and (max-width:780px){
  #expand-subtitle{
    padding-top: 0;
  }

  #features{
    grid-template-columns: 1fr;
  }
}

/* Modular Classes
=====================================================
*/

.hidden{display: none; overflow: hidden; opacity: 0;}