@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');



:root {
    --primary-color: rgb(255, 72, 0);
    --grey: rgb(99, 99, 99);
    --secondary-color: #be1931;
    --tertiary-color: #dd2e44;
}

body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Rubik' ;
    cursor: default;
}
.navbar {
    background: white;
    padding: 0.5em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.5em;
        font-family: 'Staatliches' ;
        span {
            color: var(--primary-color);
        }
        transition: all 1s;
        &:hover {
          font-size: 1.8em;  
          cursor: pointer;
        }
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }
    
    .mobile-menu {
        cursor: pointer;
    }
}
nav.menu-btn {
    display:block;
}
nav{
    position: fixed;
    z-index: 999;
    width: auto;
    right: 0;
    top: 0;
    background: linear-gradient(var(--secondary-color), var(--primary-color));
    height: 100vh;
    padding: 1em;
    font-size: 1em;

    ul.navPrimary {
        margin-top: 5em;
        align-items: center;
    }

    li {

        a{ 
            color: white;
            text-decoration: none;
            display: block;
            padding: 0.5em;
            font-size: 1.5em;
            text-align: right;
            transition: all 0.15s;
            &:hover {
                font-weight:bold;
                text-decoration: underline;
                text-shadow: 0.1em 0.1em black;  
              }
        }
    }
}
.mobile-menu-exit {
    margin: 0.5em;
    cursor:pointer;
    &:hover {
        width: 2em;
        height: 2em;
      }
}

a {
    color: var(--grey);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

section {
    padding: 2em 3em 2em 3em;   
}

.hero {
    text-align: center;
}

.title {
    .subhead {
        text-transform: lowercase;
        font-weight: bold;
        color: var(--grey);
        letter-spacing: 1em;
        line-height: .9em;
        margin: 0;
        padding: 0;
        transition: all 1s;
        &:hover {
        letter-spacing: 1.1em;            
        }
    }

    h1{
        font-size: 3.5em;
        line-height: 1.1em;
        margin: 0.2em 0em 0.5em;
        padding: 0;
    }

    .primary-cta {
        background: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: 0.7em 1em;
        font-size: 1.4em;
        border-radius: 1em;
        font-weight: bold;
        display: inline-block;
        transition: all 0.25s;
        &:hover {
            font-weight:bold;
            text-decoration: underline;
            text-shadow: 0.1em 0.1em black;  
        }
    }

    .secondary-cta {
        display: block;
        margin-top: 1em;
        text-decoration: none;
        align-items: center;
        .cta2img{
            padding-right: 0.4em;
        }
        &:hover {
            span {display:none}
            &:after{content:"Seriously don't";}
        }
}

}

.fries-img {
    max-width: 55%;
    min-width: 100px;
    width: 55%;
    margin: 0em 0em 10em 0em;
}

section.features-section {
    background: var(--tertiary-color);
    color: white;
    border-top: 1.5em inset var(--tertiary-color);
}

ul.features-list {
    margin: 5em auto;
    padding-left: 0;
    display: list-item;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 5fr));

    li {
        font-size: 2em;
        width: unset;
        max-width: 50%;
        text-align: center;
        margin: 0em 0em 1em 25%;
        position: relative;
        display: list-item;
        background: var(--secondary-color);
        background-size: unset;
        color: white;
        text-decoration: none;
        border-radius: 0.4em;
        &:before{ //fries that go along with the quote
            content: '';
            left: 0;
            margin-top: 0.5em;
            background: whitesmoke;
            border-radius: 0.2em;
            position: absolute;
            width: 0px;
            height: 0px;
            background-image: url('../images/fries.svg');
            background-size: contain;
            margin-right: 0.5em;
        }
    }
}

.testimonials-section {
    background: var(--tertiary-color);
    text-decoration: none;
    color: white;
    ul {

        li{
            background: var(--secondary-color);
            text-decoration: none;
            text-align: center;
            padding: 2em 1em;
            width: 80%;
            margin: 0 auto 5em auto;
            border-radius: 1em;
            img{
                width: 5em;
                height: 5em;
                border: 15px solid var(--secondary-color);
                border-radius: 50%;
                margin-top: -4.5em;
            }
            .anonymous {
                text-decoration: none;
                color: white;
            }
        }
    }
}


.contacts-section{
    border-top: 1em inset var(--tertiary-color);
    .container{
        text-align: center;
        color: white;
        border: 1em var(--secondary-color);
        border-style:  solid;
        border-radius: 0.5em;
        margin-top: 0;
        background-color: var(--tertiary-color);
        padding: 1em;            
    }

}

h2 {
    font-size: 2em;
}

label {
    
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.6em;
}

iframe{
    width: 100%;
    height: 300px;
}

@media only screen and (max-width :390px){
    ul.features-list {
        margin: auto;
        li {font-size: 1.2em;}
    }

}


@media only screen and (min-width :768px) {
    .mobile-menu, .mobile-menu-exit {display: none;}
    .navbar .container {display: grid; grid-template-columns: 180px auto;}
    .navbar nav {
        display: flex; 
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {display: flex;}
        a {
            color: black;
            font-size: 1em;
            padding: 0.1em 1em;
            &:hover {
                font-weight:bold;
                color:rgb(44, 44, 44);
                text-decoration: underline;
                text-shadow: 0.1em 0.1em var(--tertiary-color);  
              }
        }

        ul.navPrimary {margin: 0;}
        li.current a {font-weight: bold;}

        li.invite a {
            color: var(--primary-color);
            border: 5px solid var(--primary-color);
            font-weight: bold;
            border-radius: 3em;
            &:hover {
                font-weight:bolder;
                text-decoration: underline; 
                background: rgba(255, 114, 59, 0.342);
                text-shadow: 0em 0em;
              }
        }
    }

    ul.features-list{
        margin-top: 5em;
        margin-bottom: 0em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 5fr));

        li {
            font-size: 3em;
            margin: 0em 0em 2.5em 25%;
            padding: 0.3em;
            &:before{ //fries that go along with the quote
                content: '';
                left: -1.6em;
                margin-top: 0.5em;
                background: whitesmoke;
                border-radius: 0.2em;
                position: absolute;
                width: 60px;
                height: 60px;
                background-image: url('../images/fries.svg');
                background-size: contain;
                margin-right: 0.5em;
            }
        }
    } 
}

@media only screen and (min-width :1300px) {
    .container {
        width: 1300px;
        margin: 0 auto;
    }

    section {padding: 10em 4em;}
    
    .contacts-section{
        .container{
            text-align: center;
            color: white;
            border: 1em var(--secondary-color);
            border-style:  solid;
            margin-top: -5em;
            background-color: var(--tertiary-color);
            padding: 1em;       
        }
    
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;
        .fries-img {
            margin: -5em 0em 10em 0em;
            height: auto;
            width: auto;
        }
        .title {
            margin: 3em 0em 0em 5em;
            h1 {
                font-size: 4em;
                width: 100%;
            }
            .secondary-cta {
                display: flex;
                margin-top: 0;
            }
        }
    }

    .hero-cta {display: flex;} 
    .primary-cta {margin-right: 1em;}


    .features-section{
        margin: 0;
        padding: 1em;
    }
    ul.features-list{
        display: block;
        margin-left: 0;

        li{
            font-size: 3.5em;
            margin-bottom: 1em;
            &:before {
                width: 1.3em;
                height: 1.3em;
                margin: 0;
            }
        }
    }

    .testimonials-section ul{
        display: flex;
        font-size: 2em;
        width: 40em;
        margin: 0;
        li{ margin: 0 1em;}
    }
}