@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --primary-orange: rgb(255, 72, 0);
  --primary-red: #be1931;
  --lighter-red: #dd2e44;
  --grey: rgb(99, 99, 99);
  --background-color: #F2F2F2;
}

body {
  background: var(--background-color);
  margin: 0;
  font-family: 'Rubik';
}

/* Navbar
=====================================================
*/

.navbar {
  background: white;
  padding: 0.5em;
  height: 48px;
}

.navbar .container-fluid{
  max-width: 965px;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  line-height: 48px;
  vertical-align: middle;
  font-size: 1.5em;
  font-family: 'Staatliches';
  transition: font-size 0.3s;
}

.logo span {
  color: var(--primary-orange);
}

.logo:hover {
  font-size: 1.6em;
  cursor: pointer;
}

.nav-link{font-size: 1.1em;}

/* Main
=====================================================
*/

main{
  margin-top: 50px;
}

#main-hero{
  padding: 0 20% 15%;
  justify-content: center;
  margin: auto;
  margin-top: 10em;
}

#expand-subtitle{
  letter-spacing: 0.3em;
  width: auto;
  display: inline;
  transition: letter-spacing cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
}

#expand-subtitle:hover{
  letter-spacing: 0.5em;
}

#main-text-col{
  display: grid;
  align-items: center;
}

/* Media Queries
=====================================================
*/

@media only screen and (max-width:767px){ /* MD Bootstrap Breakpoint */
  .navbar{
    height: 56px;
    padding: 0;
  }

  main{
    margin-top: 60px;
  }
  #main-text-col{
    text-align: center;
  }

} 