@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --primary-color: rgb(255, 72, 0);
    --grey: rgb(99, 99, 99);
    --secondary-color: #be1931;
    --tertiary-color: #dd2e44;
    --shadow-color: #a51d2f;
}

body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Rubik' ;
    cursor: default;
}
.navbar {
    background: white;
    padding: 0.5em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.5em;
        font-family: 'Staatliches' ;
        span {
            color: var(--primary-color);
        }
        transition: all 1s;
        &:hover {
          font-size: 1.8em;  
          cursor: pointer;
        }
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }
    
    .mobile-menu {
        cursor: pointer;
    }
}
nav.menu-btn {
    display:block;
}
nav{
    position: fixed;
    z-index: 999;
    width: auto;
    right: 0;
    top: 0;
    background: linear-gradient(var(--secondary-color), var(--primary-color));
    height: 100vh;
    padding: 1em;
    font-size: 1em;

    ul.navPrimary {
        margin-top: 5em;
        align-items: center;
    }

    li {

        a{ 
            color: white;
            text-decoration: none;
            display: block;
            padding: 0.5em;
            font-size: 1.5em;
            text-align: right;
            transition: all 0.15s;
            &:hover {
                font-weight:bold;
                text-decoration: underline;
                text-shadow: 0.1em 0.1em black;  
              }
        }
    }
}
.mobile-menu-exit {
    margin: 0.5em;
    cursor:pointer;
    &:hover {
        width: 2em;
        height: 2em;
      }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
a {
    color:#F2F2F2;
}

section {
    padding: 2em 3em 2em 3em;   
}

.hero {
    text-align: center;
}

.title {
    .subhead {
        text-transform: lowercase;
        font-weight: bold;
        color: var(--grey);
        letter-spacing: 1em;
        line-height: .9em;
        margin: 0;
        padding: 0;
        transition: all 1s;
        &:hover {
        letter-spacing: 1.1em;            
        }
    }
}

h1{
    font-size: 3.5em;
    line-height: 1.1em;
    margin: 0.2em 0em 0.5em;
    padding: 0;
}
h2{
    font-size: 2.5em;
    line-height: 1.1em;
    margin: 0.2em 0em;
    padding: 0;
}

.fries-img {
    max-width: 55%;
    min-width: 100px;
    width: 55%;
    margin: 0em 0em 10em 0em;
}

.story {
    font-size: 1.4em;
    background: var(--secondary-color);
    margin: 0;
    padding: 2em 2em 35% 2em;
    border-top: 0.6em inset var(--tertiary-color);
    color: #F2F2F2;
    height: auto;
    text-shadow: 0.2em 0.2em var(--shadow-color);
    .container{
        text-shadow: none;
        .fuck-you{
            display: none;
            opacity: 0%;
            margin: 0;
            padding: 0;
        }
        .soda-image {
            display: none;}
        .harris-image {
            display: none;} 
    }
}

iframe{
    width: 100%;
    height: 300px;
}

.collapsible {
    display: block;
    font-size: 1.5em;
    color: #F2F2F2;
    text-shadow: 0.1em 0.1em var(--shadow-color);
    background: none;
    border: none;
    font-family: 'Rubik' ;
    font-weight: bold;
    cursor: pointer;
    padding-top: 1em;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}



@media only screen and (min-width :768px) {
    .mobile-menu, .mobile-menu-exit {display: none;}
    .navbar .container {display: grid; grid-template-columns: 180px auto;}
    .navbar nav {
        display: flex; 
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {display: flex;}
        a {
            color: black;
            font-size: 1em;
            padding: 0.1em 1em;
            &:hover {
                font-weight:bold;
                color:rgb(44, 44, 44);
                text-decoration: underline;
                text-shadow: 0.1em 0.1em var(--tertiary-color);  
              }
        }

        ul.navPrimary {margin: 0;}
        li.current a {font-weight: bold;}

        li.invite a {
            color: var(--primary-color);
            border: 5px solid var(--primary-color);
            font-weight: bold;
            border-radius: 3em;
            &:hover {
                font-weight:bolder;
                text-decoration: underline; 
                background: rgba(255, 114, 59, 0.342);
                text-shadow: 0em 0em;
              }
        }
    }
    .story {font-size: 2em;} 
    .collapsible{
        transition: all 1s;
        &:hover{
            letter-spacing: 0.1em;
        }
    }
}

@media only screen and (min-width :1300px) {
    .container {
        width: 1300px;
        margin: 0 auto;
    }
    section.hero {padding: 10em 4em;}
    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;
        .fries-img {
            margin: -5em 0em 10em 0em;
            height: auto;
            width: auto;
        }
        .title {
            margin: 6em 3em 0em 5em;

            h1 {
                font-size: 4em;
                width: 90%;
            }
        }
    }
    .story .container {
        padding-bottom: 10em;
        .fuck-you{
            display: flex;
            transition: all 1s;
            &:hover{
                opacity: 100%;
            }
        }
        .harris-image {
            float: left;
            display: inline;
            margin: 12% 10% 10% 0;
            background-color: var(--tertiary-color);
            background-image: url("../images/harris.png");
            width: 15em;
            height: 15em;
            border-radius: 1em;
            transition: ease-in-out 300ms;
            &:hover{
                background-image: url("../images/harrisevil.png");
            }
        }

        .soda-image {
            display: inline-flex;
            float: right;
            margin: 15% -10% 0 0;
            width: auto;
            height: 25em;
        }
        .soda{
            max-width: 65%;
        }
    }
}